<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/user_interface/src/app/home/home.component.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-logo">
                <img id="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSifNFzpL9nErcunZlPEcDdgSc0X7qpsLcKPg&s"/>
            </div>
            <ul class="navbar-menu">
                <li><a href="">Home</a></li>
                <li><a routerLink="/user">Registration</a></li>
                <li><a routerLink="/login">Login</a></li>
                <!-- <li><a href="">Admin Dashboard</a></li> -->
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="left-side">
            <h1>EMPLOYEE MANAGEMENT SYSTEM</h1>
            <p>Employee management is the process by which employers ensure workers perform to the best of their abilities so as to achieve the business goals. It typically entails building and maintaining healthy relationships with employees, as well as maitaing thier daily labour and measuring progress. In this way, employess can identify opportunities for improvements and recognize achivements.</p>
        </div>
        <div class="right-side">
            
           <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBXPGd0Y0xIF_hztwlI-Z3x32KDQjgf3Dvxw&s" alt="Description of Image" class="side-image">
            
        </div>
    </div>
</body>
</html>
